---
const { type, resolution = "" } = Astro.props;
---

{
  type === "Text" && (
    <section id="Review Text" class="mt-16">
      <div class="container">
        <h1 class="text-3xl font-semibold text-dark">Review Text</h1>
        <slot />
      </div>
    </section>
  )
}
{
  type === "Gambar" && (
    <section id="image" class="mt-16">
      <div class="container">
        <h1 class="text-3xl font-semibold text-dark">GAMBAR</h1>
        <p class="text-lg text-dark">Resolusi: {resolution}</p>
        <slot />
      </div>
    </section>
  )
}
{
  type === "Video" && (
    <section id="video" class="mt-16">
      <div class="container">
        <h1 class="text-3xl font-semibold text-dark">VIDEO</h1>
        <p class="text-lg text-dark">Resolusi: {resolution}</p>
        <slot />
      </div>
    </section>
  )
}
{
  type === "Kombinasi Gambar" && (
    <section id="Kombinasi Gambar" class="mt-16">
      <div class="container">
        <h1 class="text-3xl font-semibold text-dark">Kombinasi Gambar</h1>
        <p class="text-lg text-dark">Resolusi: {resolution}</p>
        <slot />
      </div>
    </section>
  )
}
{
  type === "Kombinasi Video" && (
    <section id="Kombinasi Video" class="mt-16">
      <div class="container">
        <h1 class="text-3xl font-semibold text-dark">Kombinasi Video</h1>
        <p class="text-lg text-dark">Resolusi: {resolution}</p>
        <slot />
      </div>
    </section>
  )
}
